<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">

	<div class="menu_dropdown bk_2">
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe620;</i> 微信专题管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/Article/lst" title="产品管理">专题文章管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-workload">
			<dt><i class="Hui-iconfont">&#xe616;</i> 工作管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/Workload/lst" title="工作管理(编辑)">工作管理(编辑)</a></li>
					<li><a href="/admin/Workload/numList" title="数据统计(网编)">数据统计(网编)</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/Role/lst" title="角色管理">角色管理</a></li>
					<li><a href="/admin/Permission/lst" title="权限管理">权限管理</a></li>
					<li><a href="/admin/Admin/lst" title="管理员列表">管理员管理</a></li>
				</ul>
			</dd>
		</dl>
		<dl id="menu-category">
			<dt><i class="Hui-iconfont">&#xe620;</i> 分类管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a href="/admin/Category/lst" title="产品管理">分类管理</a></li>
				</ul>
			</dd>
		</dl>

	</div>
</aside>
<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>
<!--/_menu 作为公共模版分离出去-->